<h1>Here are your posts, via AJAX!</h1>

<div id="posts">
</div>

<div id="new-post-form">
	<input type="text" id="post-content" />
	<button id="add-post">Add new Post!</button>
</div>

<p>
	<a id="get-post-button" href="javascript:loadPosts();">Refresh posts</a>
</p>

<script type="text/javascript">
	function loadPosts() {		
		var html = "";
		$.getJSON('/posts.json', function(data){
			console.log("Request is complete!");
			console.log(data);
			// data = [{"id": 2, "content": "foo"}]
			$.each(data, function(fizzbar){
				html += "<p>" + data[fizzbar].content + "</p>";
			});
			$("#posts").html(html);
		});		
	}

	function createPost() {
		var postContentValue = $("#post-content").val();
		$.post('/posts.json', { post: { content: postContentValue }});
		$("#post-content").val('');
	}

	$('#add-post').click(function(){
		console.log("New Post!");
		createPost();
	});

	$(window).on('load', function() {
	    console.log( "ready!" );
	    loadPosts();
	});
	// $("#get-post-button").click(loadPosts);
</script>