<h1>Here are your posts, via AJAX! (Or rather, AJAJ)</h1>

<a id="get-post-button" href="javascript:loadPosts();">Load new posts</a>

<div id="posts">
<p>Posts</p>	
</div>

<script type="text/javascript">
	function loadPosts() {
		var html = "";
		$.getJSON('/posts.json', function(data){
			console.log("Request is complete");
			console.log(data);
			// data = [{"id": 2, "content": "foo"}]
			//fizzbar is the index variable that jquery just KNOWS how to use. I hate javascript
			$.each(data, function(fizzbar){
				html += "<p>" + data[fizzbar].content + "</p>";
			});

			$("#posts").html(html);
		});
	}
	$(window).on('load', function(){
		loadPosts();
	});
	// $("#get-post-button").click(loadPosts);
</script>